// VARIABLES
@import './variables';
// cores tematicas






h1{
    color: $info;
    margin-bottom: $base-margin;
}

body{
    background-color: transparent;

}

.error{
    color:$error;
    border-color: $error;
    border-style: solid;

    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}

.notification{
    color: $secondary;
    border-color:$secondary;
    border-style: solid;

    margin: $base-margin;
    padding: $base-padding;
    border-radius: $base-border-radius;
    border-width: $base-border-thickness;
}

button{
    color: #fff;
    border: 0;
    background-color: $primary;
    cursor: pointer;
    border-radius: $base-border-radius;
    padding: $base-padding;
}