@import './colors';

// default value
@mixin btn($bg-color:#e2e2e2){
    text-decoration: none;
    display: inline-block;
    border:0;
    padding: $base-padding $base-padding *2;
    border-radius: $base-border-radius;
    cursor:pointer;
    background-color: $bg-color;
}


// pull the colors to create btn variation classes
@each $key, $val in $colors{
    .btn-#{$key}{
    @include btn($val);

    &:hover{
        background-color:  lighten($val, 5)
    }
    }

 

    .btn-outlined-#{$key}{
        @include btn(#fff);
        border: $base-border-thickness solid $val;

        &:hover{
            background-color: $val;
        }
    }

    .btn-complement-#{$key}{
        @include btn($val);

        &:hover{
            color:lite-comp($val);
            background-color:lite-comp($val);
        }
    }
}

// generic btn
.btn{
    @include btn; //use the default color
}