@each $key, $val in $colors{
    .text-#{$key}{
        color:$val
    }

    .text-hover-#{$key}{
        &:hover{
          color:$val;  
        }
    }


    .bg-#{$key}{
        background-color:$val
    }

    // light variations

    @if($val != black and $val != white){
    @for $i from 1 to 10{
        .text-#{$key}-light-#{$i}{
            color:mix(white, $val, $i*10)
        }

        .bg-#{$key}-light-#{$i}{
            background:mix(white,$val, $i*10);
        }
    }
    // dark variations
    @for $i from 1 to 10{
        .text-#{$key}-dark-#{$i}{
            color:mix(black, $val, $i*10)
        }

        .bg-#{$key}-dark-#{$i}{
            background:mix(black,$val, $i*10);
        }
    }
}
}


// .text-prmary-light-7
// .text-prmary-dark-7


// CONDICIONAIS
@if(10 > 14){
    .teste-if{
        color:orangered;
    }
}@else{
    .test-if{
        color:dodgerblue;
    }
}
