.wrapper{
    margin: 200px 200px;
}





.icon-group{
    display: flex;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    outline: 1px solid orange;
    
}



.form-group{
    // margin-bottom: 1rem;
    transition: all .3s;
    // padding: 5px; 
    width:100%;
}

.form-label{

 font-size: .8rem;
 color:#aaa;
 display: block;
 opacity:1;
 transform: translate(1rem,-1.1rem);
 background: white;
//  padding: 0px 3px;
width:fit-content;
transform-origin: 0 0;
transition: all .3s;
border: 0;


}

.form-control{
    box-shadow: none;
    // background: rgba(0,0,0,0.2);
    border-radius: 0;
    width:80%;
    height: 100%;
    transition: all .5s;
    padding: 10px auto;


    &::placeholder{
       color: transparent;
    }
  
    
}

.form-control:focus{
    outline: 0;
    border-color: orange;    
} 

.icon{
    display: inline-block;
    outline: 1px solid blue;
    margin: 0;
    padding: 0;
}

.form-control:focus + .form-label{
        transform: translate(-10px,-2rem);
}